<div class="posts-container <%= single ? 'singlePost' : "manyPosts" %> <%= newpost ? "newpost":"" %>">
    <% posts.map(post=> {
        if( (post.privacy == "public") || (currentUser ? (post.privacy=="private" && post.author.equals(currentUser._id) || post.privacy=="friends" &&  currentUser.friends.filter((friend)=>friend.equals(post.author._id)).length>0 || post.author.equals(currentUser._id) ):false)){ %>
        <div class="post" >
            <div class="post-main">
                <div class="post-user">
                    <div class="left">
                        <a href="/profile/<%= post.author.username%>">
                            <img
                                src="data:<%=post.author.contentType%>;base64,<%=post.author.imageBase64%>"
                            />
                        </a>
                    </div>
                    <div class="right">
                        <div class="post-user-info">
                            <div class="post-user-info-top">
                                <span><%= post.author.fname %> <%= post.author.lname%></span>                                    
                            </div>
                            <div class="date">
                                <a href="/posts/<%=String(post._id) %>" class="date" >
                            <%= post.createdAt.toISOString().split('T')[0] %> <%=
                            post.createdAt.toLocaleString().split(',')[1].slice(0,6) %>
                            </a>
                            <% if(post.privacy == "public"){%> 
                                        <a href="/posts/<%=String(post._id) %>" title="Public">
                                            <img src="/icons/earth-svgrepo-com.svg" class="icon" alt="Public">                                            
                                        </a>                                                                          
                                    <% } %>

                            </div>
                        </div>
                        <div class="post-body"><%= post.body %></div>
                        
                    </div>

                </div>
            </div>
            <% if(post.likes.length==0){ %>
                    <span class="likecount">
                        No one liked this post yet
                    </span> 
                
                <% }else if(post.likes.length==1){ %>
                    <span class="likecount">
                        <%= post.likes.length %> like
                    </span>
                
                <%}else{ %>
                    <button class="modal-btn">
                        <%= post.likes.length %> likes
                    </button>
                    
                <% } %> 
            <div class="modal-bg">
                
           
                    <div class="modal-content">
                        <div class="modal-top">
                            <span class="modal-header">Likes</span>
                            <div class="close">X</div>                            
                        </div>
                        <div class="modal-container">
                            <% post.likes.map((like)=>{ %>
                                <div class="modalBody inLike">
                                    <div class="modalBodyLeft">
                                        <img
                                        src="data:<%=like.contentType%>;base64,<%=like.imageBase64%>"
                                    
                                    />
                                    <a href="/profile/<%= like.username %>"><%= like.username %> </a>
                                    </div>
                        
                                    <%- include("./add_friend",{like:like}) %> 
                        
                                </div>
                            
                            <% }) %> 
                        </div>
                        
                    </div>
            
            </div>
            <div>
                <div class="post-bottom">
                    <div>
                        <% if(currentUser){ %> <% if(!post.liked){ %>
                        <form action="/posts/<%=String(post._id) %>/like" method="POST">
                            <button>Like</button>
                        </form>
                        <% }else{ %>
                        <form action="/posts/<%=String(post._id) %>/dislike" method="POST">
                            <button>Dislike</button>
                        </form>
                        <% } %> <% }else{ %>
                        <button disabled>Like</button>
                        <% } %>
                    </div>
                    <div class="post-actions">
                        <% if(currentUser && post.author == currentUser.username){ %>
                    <form method="POST" action="/posts/<%=String(post._id) %>?_method=DELETE">
                        <button type="submit">Delete post</button>
                    </form>
                    <% if(!post.public){ %>
                    <form method="POST" action="/posts/<%=String(post._id) %>?public=true">
                        <button type="submit">Publish</button>
                    </form>
                    <% }else{ %>
                    <form method="POST" action="/posts/<%=String(post._id) %>?public=false">
                        <button type="submit">Hide post</button>
                    </form>
                    <% } %><a href="/posts/<%=String(post._id) %>/edit">Edit</a> <% } %>
                    <button id="<%= post._id %>" class="comment-display">Comment</button>
                    <button id="<%= post._id %>" type="button" class="comment closeComment">X</button>                        
                    </div>
                </div>
                <form
                    action="/posts/<%=String(post._id) %>/comment"
                    method="POST"
                    class="comment"
                    id="<%= String(post._id) %>"
                >
                    <div class="comment-send">
                        <% if(currentUser){ %>
                            <img
                            src="data:<%=currentUser.contentType%>;base64,<%=currentUser.imageBase64%>"
                            alt=""
                            class="smallImg"
                        />
                        <% } %> 
                        
                        <textarea name="body" cols="30" style="resize: none; height: 20px" rows="20" minlength="1" placeholder="Write a comment..." class="textarea"></textarea>
                    </div>
                </form>

                <div id="<%= post._id %>" class="comment beforeCommentContainer">
                    Comments <% if(post.comments){post.comments.map(comment=>{ %>
                    <div class="commentObj">
                        <img class="smallImg" src="data:<%=comment.author.contentType%>;base64,<%=comment.author.imageBase64%>">
                        <%= comment.body %>
                        <%= comment.createdAt.toLocaleString() %> 

                    </div>
                    
                    <% })} %>
                </div>
            </div>
        </div>
           
    <% }}) %>
</div>
