<% posts.map(post=>{ %> <% if(post.public || isUser){ %>
<div>
    <div><%= post.body %></div>
    <div>
        <a href="/posts/<%=String(post._id) %>">
            <%= post.createdAt.toISOString().split('T')[0] %> <%=
            post.createdAt.toLocaleString().split(',')[1].slice(0,6) %> </a
        >; Posted by: <a href="/profile/<%= post.author %>"><%= post.author %></a> <% if(isUser && post.author
        == currentUser){ %>
        <form method="POST" action="/posts/<%=String(post._id) %>?_method=DELETE">
            <button type="submit">Delete post</button>
        </form>
        <% if(!post.public){ %>
        <form method="POST" action="/posts/<%=String(post._id) %>?public=true">
            <button type="submit">Publish</button>
        </form>
        <% }else{ %>
        <form method="POST" action="/posts/<%=String(post._id) %>?public=false">
            <button type="submit">Hide post</button>
        </form>
        <% } %><a href="/posts/<%=String(post._id) %>/edit">Edit</a> <% } %>
    </div>
</div>
<% } %> <% }) %>
