<!-- prettier-ignore -->
<div class="modalContainer">
    <% users.map(user=>{ %>

        <div class="modalBody">
            <div class="modalBodyLeft">
                <div class="imgContainer">
                    <img src="data:<%=user.contentType%>;base64,<%=user.imageBase64%>" />
                    <a href="/profile/<%= user.username %>" class="username"><%= user.username %> </a>
                </div>
                <div><%= user.fname %> <%= user.lname %></div>
                ? mutual friends
            </div>
        
            <%- include("./partials/add_friend",{this_user:user}) %>
        </div>
        
        <% }) %>
</div>
