<form action="<%= post?(`/posts/${String(post._id)}/edit`):('/posts/new') %>" method="POST">
    <div>
        <label for="body">Post body:</label>
        <textarea name="body" cols="30" rows="10"><%= post.body %></textarea>
    </div>
    <p>Who can view this post</p>
    <div>
        <label for="public">Everyone</label>
        <input id = "1" onclick="onlyOneChecked(this.id)" type="checkbox" name="public" <%=
        post&&post.public?checked:'' %> class="check" />
    </div>
    <div>
        <label for="friends">Friends only</label>
        <input id="2" onclick="onlyOneChecked(this.id)" type="checkbox" name="friends" <%=
        post&&post.friendsOnly?checked:'' %> class="check"/>
    </div>
    <div>
        <label for="private">Only me</label>
        <input id="3" onclick="onlyOneChecked(this.id)" type="checkbox" name="private" <%=
        post&&!post.public?checked:'' %> class="check"/>
    </div>

    <button type="submit">Send</button>
</form>
