<div><%= user.fname %> <%= user.lname %></div>
<div>
    <% if(user.imageBase64){ %>
    <img src="data:<%=user.contentType%>;base64,<%=user.imageBase64%>" alt="" style="height: 3rem" />
    <% }else{ %>
    <img src="../public/Facebook-default-no-profile-pic.jpg" alt="test" />
    <% } %>
</div>
<div>Born <%= user.dateOfBirth.toLocaleString().split(',')[0] %></div>

<%- include('./partials/add_friend.ejs') %> <% if(isPersonal){ %> <%- include('./partials/requests.ejs') %> <%
} %>
